{% import '_includes/forms' as forms %}

<h2>Settings</h2>

{{ forms.lightswitchField({
    label: 'Enable anchor links' | t,
    id: 'enableAnchorLinks',
    name: 'enableAnchorLinks',
    instructions: 'Activate this toggle to enable anchor links for footnotes.' | t,
    on: settings.enableAnchorLinks,
    first: true,
    errors: settings.getErrors('enableAnchorLinks')
}) }}

{{ forms.lightswitchField({
    label: 'Enable duplicate footnotes' | t,
    id: 'enableDuplicateFootnotes',
    name: 'enableDuplicateFootnotes',
    instructions: 'When disabled, identical footnote texts will share the same footnote number and the texts will be combined into a single footnote. When enabled, each footnote text will be listed seperately (with its own footnote number) regardless of any equality to other footnotes.' | t,
    on: settings.enableDuplicateFootnotes,
    first: true,
    errors: settings.getErrors('enableDuplicateFootnotes')
}) }}
