{% import '_includes/forms' as forms %}

<h2>Settings</h2>

{{ forms.lightswitchField({
	label:			'Enable anchor links'|t,
	id:				'enableAnchorLinks',
	name:			'enableAnchorLinks',
	instructions:	'Activate this toggle to enable anchor links for footnotes.'|t,
	on:				settings.enableAnchorLinks,
	first:			true,
	errors:			settings.getErrors('enableAnchorLinks')
}) }}
